{% extends "base.html" %}

{% block title %}TIL{% endblock %}

{% block content %}
<div class="container">
    <a href="/">
        <h1>Cann Football Tables</h1>
    </a>
    <h5>By dmzda</h5>
    {% for league in leagues %}
    {% if loop.index0 % 4 == 0 %}
    <div class="row">
    {% endif %}
    <div class="col-sm-3">
        <h4>{{ league.name }}</h4>
        <table class="table table-hover table-condensed table-striped table-bordered">
            <thead>
                <tr>
                    <td>Points</td>
                    <td>Teams (Games in hand)</td>
                </tr>
            </thead>
            <tbody>
                {% for points, teams in data[league].items()|sort(reverse=True) %}
                <tr>
                    <td>{{ points }}</td>
                    <td>
                        {% for team in teams %}
                        {{ team.position }} - {{ team.name }}
                        {%- if team.played < league.max_played %}
                        ({{ league.max_played - team.played }})
                        {%- endif -%}
                        {%- if not loop.last %},{% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h6>Maximum points: {{ league.max_points }}</h6>
        <h6>Last updated: {{ league.last_updated }}</h6>
    </div>
    {% if loop.index % 4 == 0 or loop.last %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
