{% extends "base.html" %}

{% block title %}Cann Football Tables{% endblock %}

{% block content %}
<div class="container">
    <h4 id="chooseExpand"><a href="#">- Select your leagues:</a></h4>
    <form action="{{ url_for("index") }}" method="post" id="choose">
        {% for league in all_leagues %}
        {% if loop.index0 % 4 == 0 %}
        <div class="row">
        {% endif %}
        <div class="col-sm-3">
        <label>
            {% if filter %}
            <input type="checkbox"  name="league" value="{{ league.id }}" {% if league in leagues %}checked{% endif %}> {{ league.name }}
            {% else %}
            <input type="checkbox"  name="league" value="{{ league.id }}"> {{ league.name }}
            {% endif %}
        </label>
        </div>
        {% if loop.index % 4 == 0 or loop.last %}
        </div>
        {% endif %}
        {% endfor %}
        <button type="submit" name="submit" class="btn btn-primary">Filter</button>
        <button type="submit" name="reset" value="reset" class="btn btn-primary">Reset</button>
    </form>

    <div id="tables">
    {% for league in leagues %}
    {% if loop.index0 % 4 == 0 %}
    <div class="row">
    {% endif %}
    <div class="col-sm-3">
        <h4>{{ league.name }}</h4>
        <table class="table table-hover table-condensed table-striped table-bordered">
            <thead>
                <tr>
                    <td>Points</td>
                    <td>Teams (Games in hand)</td>
                </tr>
            </thead>
            <tbody>
                {% for points, teams in data[league].items()|sort(reverse=True) %}
                <tr>
                    <td>{{ points }}</td>
                    <td>
                        {% for team in teams %}
                        {{ team.position }} - {{ team.name }}
                        {%- if team.played < league.max_played %}
                        ({{ league.max_played - team.played }})
                        {%- endif -%}
                        {%- if not loop.last %},{% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h6>Maximum points: {{ league.max_points }}</h6>
        <h6>Last updated: {{ league.last_updated }}</h6>
    </div>
    {% if loop.index % 4 == 0 or loop.last %}
    </div>
    {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}<script src="{{ url_for("static", filename="js/script.js") }}"></script>{% endblock %}